<pre><font color="#8AE234"><b>alwin@alwin-HP-mint</b></font>:<font color="#729FCF"><b>~/mtmapper</b></font>$ make
g++ -Wl,-O1 -o MinetestMapperGui main.o mainwindow.o colorlineedit.o geometry.o geometrywidget.o configdialog.o makecolors.o drawmapfigure.o drawmapfiguretablemodel.o figuredelegate.o minetestmapperexe.o colorstxtwizard.o qrc_minetestmappergui.o moc_mainwindow.o moc_colorlineedit.o moc_geometry.o moc_geometrywidget.o moc_configdialog.o moc_makecolors.o moc_drawmapfigure.o moc_drawmapfiguretablemodel.o moc_figuredelegate.o moc_minetestmapperexe.o moc_colorstxtwizard.o   -lQt5Widgets -lQt5Gui -lQt5Core -lGL -lpthread 
main.o: In Funktion »main«:
main.cpp:(.text.startup+0xd3): Warnung: undefinierter Verweis auf »Translator::Translator(QLocale const&amp;)«
mainwindow.o: In Funktion »MainWindow::slotLanguageChanged(QAction*)«:
mainwindow.cpp:(.text+0xc8): Warnung: undefinierter Verweis auf »Translator::setLocale(QLocale const&amp;)«
mainwindow.o: In Funktion »MainWindow::changeEvent(QEvent*)«:
mainwindow.cpp:(.text+0x636): Warnung: undefinierter Verweis auf »Translator::setLocale(QLocale const&amp;)«
mainwindow.o: In Funktion »MainWindow::createLanguageMenu()«:
mainwindow.cpp:(.text+0xbeb4): Warnung: undefinierter Verweis auf »Translator::getTranslations() const«
collect2: error: ld returned 1 exit status
Makefile:203: recipe for target &apos;MinetestMapperGui&apos; failed
make: *** [MinetestMapperGui] Error 1
<font color="#8AE234"><b>alwin@alwin-HP-mint</b></font>:<font color="#729FCF"><b>~/mtmapper</b></font>$ 
</pre>